body {
    margin: 0;
    padding: 0;
    background: #017fb5;
    color: black;
}

h1 {
    text-align: center;
}

#card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
}